{{- if .Values.customCA.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "yossarian-go.fullname" . }}-ca
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "yossarian-go.labels" . | nindent 4 }}
data:
  ca-bundle.crt: |
{{ .Values.customCA.certificate | indent 4 }}
{{- end }}
