{{- if .Values.ingress.enabled }}
---
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{ include "yossarian-go.fullname" . }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "yossarian-go.labels" . | nindent 4 }}
spec:
  virtualhost:
    fqdn: {{ .Values.ingress.fqdn }}
    {{- if .Values.ingress.tls.enabled }}
    tls:
      secretName: {{ .Values.ingress.tls.secretName }}
    {{- end }}
  routes:
    - conditions:
        - prefix: /
      services:
        - name: {{ include "yossarian-go.appServiceName" . }}
          port: {{ .Values.service.app.port }}
      timeoutPolicy:
        response: {{ .Values.ingress.timeouts.response | quote }}
        idle: {{ .Values.ingress.timeouts.idle | quote }}
      {{- if .Values.ingress.sessionAffinity.enabled }}
      loadBalancerPolicy:
        strategy: {{ .Values.ingress.sessionAffinity.strategy }}
      cookieRewritePolicies:
        - name: "X-Contour-Session-Affinity"
          pathRewrite:
            value: "/"
          sameSite: Lax
          secure: true
      {{- end }}
{{- end }}
