---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "yossarian-go.fullname" . }}-minio
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "yossarian-go.labels" . | nindent 4 }}
    app.kubernetes.io/component: minio
spec:
  type: ClusterIP
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
      name: api
  selector:
    {{- include "yossarian-go.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: minio

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "yossarian-go.fullname" . }}-minio
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "yossarian-go.labels" . | nindent 4 }}
    app.kubernetes.io/component: minio
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "yossarian-go.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: minio
  template:
    metadata:
      labels:
        {{- include "yossarian-go.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: minio
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: minio
          image: {{ include "yossarian-go.minio.image" . }}
          imagePullPolicy: {{ .Values.minio.image.pullPolicy }}
          args:
            - server
            - /data
          env:
            - name: MINIO_ROOT_USER
              value: {{ .Values.minio.accessKey | quote }}
            - name: MINIO_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "yossarian-go.fullname" . }}-minio-secret
                  key: password
          ports:
            - name: api
              containerPort: 9000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /minio/health/live
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /minio/health/ready
              port: 9000
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            {{- toYaml .Values.minio.resources | nindent 12 }}
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "yossarian-go.fullname" . }}-minio-data
