apiVersion: v1
kind: Namespace
metadata:
  name: yossarian-go
  labels:
    app: yossarian-go
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged